h2 {
    width: 100%;
    font-size: 7.5vw;
    font-weight: 200;
}
h4 {
    font-size: 6vw;
}
h5 {
    font-size: 5vw;
}

/* ********************* CABECERA ****************** */
.img-logo {
    width: 100%;
}

/* ********************* NAV ****************** */
.lista{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1rem;
    align-items: center;
    list-style: none;
}
.lista li a{
    font-size: 5vw;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
}

/* ********************* SECTION ****************** */
.formulario{
    width: 95%;
}

        /* ----------- inputs ----------- */
.inputs{
    width: 85%;
}
.texto{
    font-size: 3vw;
}

        /* ----------- seleccion tamaño ----------- */
.contiene-size{
    width: 100%;
    font-size: 4vw;
}

        /* ----------- seleccion ingredientes ----------- */
.ingredientes{
    width: 95%;
}
.ingredientes > div{
    width: 50%;
}
.text{
    font-size: 4vw;
}

        /* ----------- botones pedido ----------- */
.pedido{
    width: 50%;
}

        /* ----------- importes ----------- */
.importes{
    width: 50%;
}

/* ********************* FOOTER ****************** */
footer{
    width: 100%;
    background-color: var(--color-orange);
}
.pie{
    grid-template-rows: repeat(3, 1fr);
}
.pie div{
    font-size: 3vw;
}
.redes img{
    width: 3vw;
}