:root {
    --color-principal: rgb(0,0,0);
    --color-white: rgb(255, 255, 255);
    --color-secundario: rgb(235, 235, 235);
    --color-gray: rgb(90, 90, 90); 
    --color-orange: rgb(255, 115, 0);
    --color-red: rgb(255, 0 , 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-principal);
}

h2 {
    width: 50%;
    margin: 0px auto;
    font-size: 2.5vw;
    font-weight: 100;
    text-align: center;
    color: var(--color-white);
}
h4 {
    margin-top: 6%;
    font-size: 2.2vw;
    font-weight: 300;
    text-align: center;
    color: var(--color-gray);
}
h5 {
    margin-top: 1%;
    font-size: 1.7vw;
    font-weight: 200;
    text-align: Left;
    color: var(--color-white);
}

/* ********************* CABECERA ****************** */
header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
}

.img-logo {
    width: 50%;
}

/* ********************* NAV ****************** */
nav{
    display:grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 50%;
}

.menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    color: var(--color-secundario);
    text-align: center;
    list-style: none;
    margin-bottom: 2%;
}

nav ul li a {
    margin: 5px auto;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-white);
    text-align: center;
    color: var(--color-white);
}

a:hover {
    text-decoration: none;
    color: var(--color-gray);
}

/* ********************* SECTION ****************** */
section {
    display: grid;
    grid-template-rows:10% 80% 20%;
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */
    /* ********************* ME QUEDO AQUIIIIIIIIIII ****************** */

    color:var(--color-white);
    text-align: center;
}

.formulario{
    border: 2px solid white;
    width: 50%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}

        /* ----------- inputs ----------- */
.inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.texto{
    width: 60%;
    margin: 1% auto;
    font-size: 1.6vw;
    color: var(--color-principal);
}

        /* ----------- seleccion tamaño ----------- */
.contiene-size{
    width: 60%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
}

.imgPizza{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.small {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    margin: auto;
}
.medium {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    width: 35%;
}
.big {
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
    width: 45%;
}

.radioPizza{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.5vw;
    font-weight: 100;
    color: var(--color-white);
}

        /* ----------- seleccion ingredientes ----------- */
.ingredientes{
    width: 60%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.ingredientes > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.ingredientes img{
    width:30%;
}

.text{
    margin-left: 1%;
    font-size: 1.5vw;
    font-weight: 100;
    color: var(--color-white);
}

        /* ----------- botones pedido ----------- */
.pedido{
    display:inline-flex;
    justify-content:center;
    column-gap: 10%;
    align-items: center;
    width: 60%;
    margin:5% auto;
}

.pedido input{
    width: 25%;
}

        /* ----------- importes ----------- */
.importes{
    width: 40%;
    margin:0 auto 2% auto;
}

/* ********************* FOOTER ****************** */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width:100%;
    background-color: var(--color-orange);
}

footer div{
    display: flex;
    flex-direction: row;
    margin: auto;
    font-size: 1vw;
    font-weight: 300;
    color: var(--color-white);
    padding: 1%;
}

.redes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.redes img{
    width: 1.6vw;
    margin-left: 1.8vw;
    margin-right: 0.5vw;
}

.redes a{
    text-decoration: none;
    color: var(--color-white);
}

.redes a:hover {
    text-decoration: none;
    color: var(--color-gray);
}


.error {
    color: var(-color--white);
    background-color: rgb(190, 87, 87);  
}