h2 {
    width: 75%;
    font-size: 5vw;
}
h4 {
    font-size: 3.5vw;
}
h5 {
    font-size: 3.5vw;
}

/* ********************* CABECERA ****************** */
.img-logo {
    width: 75%;
}

/* ********************* SECTION ****************** */
.formulario{
    width: 80%;
}

        /* ----------- inputs ----------- */
.inputs{
    width: 70%;
}
.texto{
    font-size: 2.1vw;
}

        /* ----------- seleccion tamaño ----------- */
.contiene-size{
    width: 80%;
    font-size: 2.7vw;
}

        /* ----------- seleccion ingredientes ----------- */
.ingredientes{
    width: 80%;
}
.ingredientes > div{
    width: 55%;
}
.text{
    font-size: 2.7vw;
}

        /* ----------- botones pedido ----------- */
.pedido{
    width: 45%;
}

        /* ----------- importes ----------- */
.importes{
    width: 40%;
}

/* ********************* FOOTER ****************** */
footer{
    width: 100%;
    background-color: var(--color-orange);
}
.pie{
    grid-template-columns: repeat(3, 1fr);
}
.pie div{
    font-size: 1.2vw;
}
.redes img{
    width: 1.5vw;
}